---
name: Build and Test

on:
  pull_request:
    branches:
      - main

permissions: {}

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Set Up Container Structure Test
        id: setup_container_structure_test
        uses: ministryofjustice/modernisation-platform-github-actions/setup-container-structure-test@5c713c93eea694829b1bd3f410d0b235053318ce # v4.0.0

      - name: Build and Test
        id: build_and_test
        shell: bash
        run: |
          make test
